@*@model IEnumerable<ExpenseTracker.Models.Expense>*@
@model PaginatedList<ExpenseTracker.Models.Expense>

@{
    ViewData["Title"] = "Expenses";
}

<h2 class="text-center">Expenses</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a asp-action="GetCategory" asp-route-category="Housing" class="list-group-item list-group-item-action list-group-item-light">Housing Expenses</a></li>
        <li><a asp-action="GetCategory" asp-route-category="Food" class="list-group-item list-group-item-action list-group-item-light">Food Expenses</a></li>
        <li><a asp-action="GetCategory" asp-route-category="Utilities" class="list-group-item list-group-item-action list-group-item-light">Utilities Expenses</a></li>
        <li><a asp-action="GetCategory" asp-route-category="Pleasure" class="list-group-item list-group-item-action list-group-item-light">Pleasure Expenses</a></li>
    </ul>
</div>
<form role="search" asp-action="Index" method="get" style="margin : 20px 0px;">
    <div class="input-group add-on">
        <input class="form-control" name="searchString" placeholder="Search by name..." type="text">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Expense Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.AmountSortParm })
            </th>
            <th>
                @Html.ActionLink("Expense Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.ActionLink("Category", "Index", new { sortOrder = ViewBag.CategorySortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.Id)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-searchString="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
