@model IEnumerable<ExpenseTracker.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Detail";
}

<h2>@ViewBag.UserName</h2>

<p>
    @Html.ActionLink("Assign Roles", "Assign",
                     new { userName = @ViewBag.UserName })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Remove Role", "Remove", new { userName = @ViewBag.UserName, role = item.RoleName })
                </td>

            </tr>
        }
    </tbody>
</table>
